<h1 class="jumbotron">@<%= @user.username %> Profile </h1>

<div class="container">

  <ul>
    <% @user.tweets.each do |tweet| %>
      <li>
        @<%= @user.username %>
        <%= tweet.body %>
        <small><%= tweet.created_at %></small>
        <%= link_to 'X', tweet_path(tweet), method: :delete, class: "btn" if current_user == @user %>
      </li>
        <% tweet.tags.each do |tag| %>
          <%= link_to "#{tag.name}", tag_path(tag) %>
        <% end %>
      <hr>
    <% end %>
  </ul>
